<!DOCTYPE html>
<html>
  <head>
    <title>MakeBooking</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script>
      var socket;
      $(document).ready(function() {
        namespace = '/'; // change to an empty string to use the global namespace
        socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

        socket.on('foundDest', function(msg) {
          displayDest(msg);
        });
        
        socket.on('foundSchedule', function(msg) {
          displaySchedule(msg);
        });

		socket.on('foundError', function(msg) {
		  displayError(msg);
		});
      });

      function findSchedules() {
        var l = document.getElementById("destList"); 
        window.alert(l.selectedIndex);
        socket.emit('findSchedule', {dest_rownum: l.options[l.selectedIndex].value});
      }

      function findReachableDest() {
        socket.emit('findDest', {
								 source_bname: document.getElementById('source_bname').value,
								 source_st: document.getElementById('source_st').value,
								 source_ave: document.getElementById('source_ave').value});
      }

      function displayDest(msg) {
        var dests = msg.dest_list;
        var col_names;
        
        var Div = document.getElementById("destinations");
        while (Div.firstChild) {
            Div.removeChild(Div.firstChild);
        }

        var destForm = document.createElement("FORM");
        destForm.setAttribute("method","POST");
        destForm.setAttribute("id","getdest");      
        
        var fs = document.createElement("FIELDSET");
		var l = document.createElement("LEGEND");
		l.appendChild(document.createTextNode("To"));
		fs.appendChild(l);
        
        
        var destSelect = document.createElement("SELECT");
        destSelect.id = "destList";
        destSelect.name = "destList";
        destSelect.style.marginRight = "20px";
        for (i = 0; i < dests.length; i++)
        {
            var destInput = document.createElement("OPTION");
            destInput.value = i;
            destInput.textContent = "".concat("( ", dests[i][2], "th Street, ", dests[i][3], " Avenue )");
            destSelect.appendChild(destInput);
        }
        destForm.appendChild(destSelect);
        
        var destSubmit = document.createElement("input");
        destSubmit.type = "Button";
        destSubmit.style.marginLeft = "50px";
        destSubmit.value = "Get Schedules";
        destSubmit.onclick= findSchedules;
        
        destForm.appendChild(destSubmit);
        
        fs.appendChild(destForm);
        Div.appendChild(fs);
        //Div.appendChild(destForm);
      }

	  function displayError(msg) {
		var Div = document.getElementById('destinations');
		while (Div.firstChild) {
            Div.removeChild(Div.firstChild);
        }
        var fs = document.createElement("FIELDSET");
		var l = document.createElement("LEGEND");
		l.appendChild(document.createTextNode("Error"));
		fs.appendChild(l);
        fs.appendChild(document.createTextNode(msg.error));

		Div.appendChild(fs);
      }
      
      function displaySchedule(msg) {
      }
      
    </script>
  </head>
  <body>
    <div>
      <h1 style="text-align:center">Make Bookings</h1>
      <form id="getsource" method="post">
        <fieldset>
          <legend>From</legend>
          <pre>Building <input type="text" id="source_bname"> </pre>
		  <pre>Street   <input type="text" id="source_st"> </pre>
		  <pre>Avenue   <input type="text" id="source_ave"> </pre>
          <input type="button" id="submit" value="Get Destinations" onclick="findReachableDest()">
        </fieldset>
      </form>
    </div>
    <div id="results">
      <div id="destinations">
      </div>
      <div id="schedule">
      </div>
    </div>
  </body>
</html>
