<!DOCTYPE html>
<html>
  <head>
    <title>MakeBooking</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script>
      var socket;
      $(document).ready(function() {
        namespace = '/'; // change to an empty string to use the global namespace
        socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        socket.on('foundDest', function(msg) {
          displayDest(msg);
        });
        
        socket.on('foundSchedule', function(msg) {
          displaySchedule(msg);
        });

		socket.on('foundError', function(msg) {
		  displayError(msg);
		});
      });

      function populateBuildings() {
        window.alert("5");
        var bnames = {{ building_list | safe }};
        var elem = document.getElementById('listBuildings');
        for (i = 0; i < bnames.length; i++)
        {
          var opt = document.createElement("OPTION");
          opt.value = bnames[i];
          opt.text = bnames[i];
          elem.appendChild(opt);
        }
      }

      function logBooking() {
        var schedule_id = document.querySelector('input[name="selectSchedule"]:checked').value;
        var uni = document.getElementById('uni').value;
        socket.emit('logBooking', {schedule_id: schedule_id, uni: uni});
      }

      function findSchedules() {
        var l = document.getElementById("destList"); 
        socket.emit('findSchedule', {dest_rownum: l.options[l.selectedIndex].value});
      }

      function findReachableDest() {
        var elem = document.getElementById('listBuildings');
        var bname = elem.options[elem.selectedIndex].value;
        socket.emit('findDest', {
								 source_bname: bname,
								 source_st: document.getElementById('source_st').value,
								 source_ave: document.getElementById('source_ave').value});
      }

      function displayDest(msg) {
        var dests = msg.dest_list;
        cleanDiv("message");  
        var Div = document.getElementById("destinations");
        while (Div.firstChild) {
            Div.removeChild(Div.firstChild);
        }

        var destForm = document.createElement("FORM");
        destForm.setAttribute("method","POST");
        destForm.setAttribute("id","getdest");      
        
        var fs = document.createElement("FIELDSET");
		var l = document.createElement("LEGEND");
		l.appendChild(document.createTextNode("To"));
		fs.appendChild(l);
        
        
        var destSelect = document.createElement("SELECT");
        destSelect.id = "destList";
        destSelect.name = "destList";
        destSelect.style.marginRight = "20px";
        for (i = 0; i < dests.length; i++)
        {
            var destInput = document.createElement("OPTION");
            destInput.value = i;
            destInput.textContent = "".concat("( ", dests[i][0], "th Street, ", dests[i][1], " Avenue )");
            destSelect.appendChild(destInput);
        }
        destForm.appendChild(destSelect);
        
        var destSubmit = document.createElement("input");
        destSubmit.type = "Button";
        destSubmit.style.marginLeft = "50px";
        destSubmit.value = "Get Schedules";
        destSubmit.onclick= findSchedules;
        
        destForm.appendChild(destSubmit);
        
        fs.appendChild(destForm);
        Div.appendChild(fs);
        //Div.appendChild(destForm);
      }

	  function displayError(msg) 
      {
		var next = document.getElementById(msg.div);
		while (next.nextSibling) 
        {
            while(next.firstChild)
                next.removeChild(next.firstChild);
            next = next.nextSibling;
        }
   
		var Div = document.getElementById("message");
        var fs = document.createElement("FIELDSET");
		var l = document.createElement("LEGEND");
		l.appendChild(document.createTextNode("Message"));
		fs.appendChild(l);
        fs.appendChild(document.createTextNode(msg.error));

		Div.appendChild(fs);
      }

      function cleanDiv(Div) {
        var div = document.getElementById(Div);
        while(div.firstChild)
            div.removeChild(div.firstChild);
      }
      
      function displaySchedule(msg) {
        cleanDiv("message");  
        var schedules = msg.schedule_list;
        var Div = document.getElementById("schedule");
        while (Div.firstChild) {
            Div.removeChild(Div.firstChild);
        } 
        
        var scheduleForm = document.createElement("FORM");
        scheduleForm.setAttribute("method","POST");
        scheduleForm.setAttribute("id","getschedule");      
        
        var fs = document.createElement("FIELDSET");
		var l = document.createElement("LEGEND");
		l.appendChild(document.createTextNode("Available Shuttles:"));
		fs.appendChild(l);
        
        var table = document.createElement('TABLE');
        table.border = 1;
        table.style.borderCollapse = "collapse";
        var tableBody = document.createElement('TBODY');
        table.appendChild(tableBody);

        var schedule_cols = [' ','Line', 'Station ID', 'Destination ID', 'Schedule', 'Street', 'Avenue', 'Departure Time', 'Journey Time']
        var tr = document.createElement('TR');
        tableBody.appendChild(tr);
        for (i = 0; i < schedule_cols.length; i++)
        {
            var th = document.createElement('TH');
            th.style.padding = "5px";
            th.style.textAlign = "center";
            th.appendChild(document.createTextNode(schedule_cols[i]));
            tr.appendChild(th);
        }
        
        for (i = 0; i < schedules.length; i++)
        {
            var option = document.createElement("input");
            option.type = "radio";
            option.name = "selectSchedule";
            option.value = i;
            if (i == 0)
                option.checked = true;
            else
                option.checked = false;
            
            var tr = document.createElement('TR');
            tableBody.appendChild(tr);
            var td = document.createElement('TD');
            td.style.padding = "5px";
            td.style.textAlign = "center";
            td.appendChild(option);
            tr.appendChild(td);
            
            for(j = 0; j < schedules[i].length; j++)
            {
                var td = document.createElement('TD');
                td.appendChild(document.createTextNode(schedules[i][j]));
                td.style.textAlign = "center";
                td.style.padding = "5px";
                tr.appendChild(td);
            }
        }    
        scheduleForm.appendChild(table);
        var uniInput = document.createElement("input");
        uniInput.type = "Input";
        uniInput.id = "uni";
        uniInput.style.marginRight = "20px";
        scheduleForm.appendChild(uniInput);
        
        var scheduleSubmit = document.createElement("input");
        scheduleSubmit.type = "Button";
        //scheduleSubmit.style.marginLeft = "50px";
        scheduleSubmit.value = "Enter your UNI and Book !";
        scheduleSubmit.onclick= logBooking;

        scheduleForm.appendChild(scheduleSubmit);
        fs.appendChild(scheduleForm);

        Div.appendChild(fs);
      }
      
    </script>
  </head>
  <body onload ="populateBuildings();">
    <div>
      <h1 style="text-align:center">Make Bookings</h1>
      <form id="getsource" method="post">
        <fieldset>
          <legend>From</legend>
          <pre>Building <select id="listBuildings"></select></pre>
		  <pre>Street   <input type="text" id="source_st"> </pre>
		  <pre>Avenue   <input type="text" id="source_ave"> </pre>
          <input type="button" id="submit" value="Get Destinations" onclick="findReachableDest()">
        </fieldset>
      </form>
    </div>
    <br>
    <div id="results">
      <div id="destinations">
      </div>
      <br>
      <div id="schedule">
      </div>
      <br>
      <div id="message">
      </div>
    </div>
  </body>
</html>
